html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgray;
}

#reset-button {
  display: flex;
  justify-content: center;
}

button {
  margin: 10px;
  padding: 10px;
  min-width: 100px;
}

.scores {
  border: 2px solid darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: lightgrey;
  border-radius: 4px;
  padding: 10px 10px 10px 10px;
}

.container {
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 20px;
}
